@import 'Tools.scss';
@import 'Colors.scss';

.container {
    display: flex;
    flex-direction: column;

    label {
        display: flex;
        flex-direction: column;
        margin: 1.5vmax 0;
    }

    input,
    textarea,
    div.react-date-picker__wrapper {
        padding: 1vmax;
        font-size: 1.5vmax;
        border: 0;
        @include border-radius;
    }

    input[type='text'] {
        height: 3vh;
    }

    input[type='submit'] {
        cursor: pointer;
        color: $cp;
    }
}
