@import 'Colors.scss';

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75vmax 0;

    .tag {
        font-size: 1.5vh;
        font-style: italic;
        color: lighten($cb, 75%);
        padding-right: 0.5vmax;
    }
}
