@import '../../styles/Tools.scss';
@import '../../styles/Colors.scss';
@import '../../styles/Animations.scss';

.container {
	display: flex;
	flex-wrap: wrap-reverse;
	padding: 3vmax;

	@include border-radius-bottom;
	@include background-rainbow;

	.title {
		flex: 1;
		align-self: center;
		font-size: 5vh;
		font-weight: 700;
		min-width: 40vw;
		padding: 3vw 0;
		color: $cw;
	}

	.image {
		flex: 1;
		max-height: 25vh;
		min-width: 40vw;
	}

	@media only screen and (max-device-width: 475px) {
		.image {
			display: none;
		}
	}
}
